@import '../node_modules/github-markdown-css/github-markdown.css';
@import '../node_modules/highlight.js/styles/github.css';

body {
  font-size: 62.5%;
  height: 100vh;
  margin: 0;
}

.body-container {
  display: flex;
  height: 100%;
  min-height: 0;
}

.portrait .body-container {
  flex-direction: column;
}

.markdown-wrapper,
.html-wrapper {
  display: flex;
  flex: 1;
  max-width: 50%;
}

.portrait .markdown-wrapper,
.portrait .html-wrapper {
  max-height: 50%;
  max-width: none;
}

.markdown-wrapper {
  border-right: 2px solid #ccc;
}

.portrait .markdown-wrapper {
  border-bottom: 2px solid #ccc;
  border-right: none;
}

.html-wrapper {
  overflow-y: auto;
}

.markdown-view {
  border: none;
  flex: 1;
  font-family: Hack, monospace;
  font-size: 1.9em;
  line-height: 1.5;
  outline: none;
  overflow-y: auto;
  padding: 0.2em;
}

.html-view {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9em;
  padding: 1em;
  max-width: 100%;
}
