body {
  height: 100vh;
  margin: 0;
}

.body-container {
  display: flex;
  height: 100%;
  min-height: 0;
}

.markdown-wrapper,
.html-wrapper {
  display: flex;
  flex: 1;
  max-width: 50%;
}

.markdown-wrapper {
  border-right: 1px solid #ccc;
}

.html-wrapper {
  font-size: 1.6em;
  overflow-y: auto;
}

.markdown-view {
  border: none;
  flex: 1;
  font-family: monospace;
  font-size: 1.6em;
  line-height: 1.5;
  outline: none;
  overflow-y: auto;
}

.html-view {
  font-size: 1em;
  padding: 1em;
}
